*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background: #333;
    perspective: 500px;
    perspective-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
    width: 200px;
    height: 200px;
}
.container:before,
.container:after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
}
.container:before {
    transform: rotateX(90deg);  
    }
.container:after {
    transform: rotatey(90deg);  
    }
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.9;  
}
.numbers {
    position: absolute;
    border: 1px solid rgb(9, 255, 1);
    width: 90%;
    height: 90%;
    color: #fff;
    left: 5%;
    top: 5%;
}
.content {
    border: 2px solid red;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    letter-spacing: 0px;
}
.content span{
    border: 2px solid yellow;
}
.one {
    transform: translateZ(100px);
    background: #333;
    border: 2px solid #fff;
} 
.two {
    transform: translateX(100px) rotateY(90deg);
    background: #333;
    border: 2px solid #fff;   
}
/*.three {
    transform: translateX(-100px) rotateY(-90deg);
    background: #333;
    border: 2px solid #fff;
}*/
.three {
    transform: translateZ(-100px) rotateY(180deg);
    background: #333;
    border: 2px solid #fff; 
    
}
/*.four  {
    transform: translateZ(-100px) rotateY(180deg);
    background: #333;
    border: 2px solid #fff; 
}*/
.four  {
    transform: translateX(-100px) rotateY(-90deg);
    background: #333;
    border: 2px solid #fff;
}
.five {
    transform: translateY(-100px) rotateX(90deg);
    background: #333;
    border: 2px solid #fff;
}
.six {
    transform: translateY(100px) rotateX(-90deg);
    background: #333;
    border: 2px solid #fff;
}
@keyframes rotate {
    100% {
      transform: rotateX(00deg) rotateY(-360deg) rotateZ(0deg);
    }
}